# PANDAS30 Akses nilai variabel pada `query()`

## Cek Versi & Import Modules

In [21]:
import pandas as pd
import numpy as np

print(pd.__version__)
print(np.__version__)

1.2.3
1.19.2

## Data Frame

In [22]:
n_rows = 5
n_cols = 5
cols = tuple('ABCDE')

df = pd.DataFrame(np.random.randint(1, 20, size=(n_rows, n_cols)), 
                  columns=cols)
df

    A   B   C   D   E
0   7  13   4  11   1
1   4  16  19  18  14
2  19   6  17  16  11
3   2   4   1   1   8
4  12  13   4  15   6

## Akses nilai variabel pada query()

menampilkan baris baris yang kolom anya lebih dari 5

In [23]:
df.query('A > 5')

    A   B   C   D   E
0   7  13   4  11   1
2  19   6  17  16  11
4  12  13   4  15   6

menghitung rata rata dari A

In [24]:
ratarata = df['A'].mean()
ratarata

8.8

menampilkan data pada A yang nilainya lebih besar dari rata rata

In [25]:
df.query('A > @ratarata')

    A   B   C   D   E
2  19   6  17  16  11
4  12  13   4  15   6