# PANDAS17 Resampling pada data deret waktu (time series data)

## Cek Versi & Import Modules

In [2]:
import pandas as pd
import numpy as np

print(pd.__version__)
print(np.__version__)

1.2.3
1.19.2

## Persiapan Data Frame

In [3]:
n_rows = 365 * 24
n_cols = 2
cols = ['col1', 'col2']

df = pd.DataFrame(np.random.randint(1, 20, size=(n_rows, n_cols)), 
                  columns=cols)

df.index = pd.util.testing.makeDateIndex(n_rows, freq='H')
df

C:\Users\axelk\anaconda3\lib\site-packages\pandas\util\__init__.py:8: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing

                     col1  col2
2000-01-01 00:00:00    15    19
2000-01-01 01:00:00     7     2
2000-01-01 02:00:00    17     1
2000-01-01 03:00:00    10    11
2000-01-01 04:00:00    15    17
...                   ...   ...
2000-12-30 19:00:00    19    17
2000-12-30 20:00:00     4     2
2000-12-30 21:00:00    14    15
2000-12-30 22:00:00     9     9
2000-12-30 23:00:00     1    15

[8760 rows x 2 columns]

## Resampling data dengan interval monthly

In [7]:
df.resample('M')['col1'].sum().to_frame() #pengelompokan ulang data bedasarkan bulan

            col1
2000-01-31  7584
2000-02-29  6791
2000-03-31  7357
2000-04-30  7236
2000-05-31  7752
2000-06-30  7251
2000-07-31  7389
2000-08-31  7575
2000-09-30  7289
2000-10-31  7259
2000-11-30  7177
2000-12-31  6936

## Resampling data dengan interval daily

In [6]:
df.resample('D')['col1'].sum().to_frame() #pengelompokan ulang data bedasarkan hari

            col1
2000-01-01   276
2000-01-02   203
2000-01-03   249
2000-01-04   246
2000-01-05   229
...          ...
2000-12-26   277
2000-12-27   206
2000-12-28   275
2000-12-29   224
2000-12-30   220

[365 rows x 1 columns]