# PANDAS54 Menyimpan Data Frame sebagai File CSV

## Import Modules & Cek Versi

In [31]:
import pandas as pd

print (pd.__version__)

1.2.3

## Data frame

In [32]:
data = {'nama':['bayu','indra','devi','agni'],
       'jenis_kelamin':['L','L','P','L'],
       'usia':[23,21,22,25]}
df = pd.DataFrame(data)
df

    nama jenis_kelamin  usia
0   bayu             L    23
1  indra             L    21
2   devi             P    22
3   agni             L    25

## Menyimpan Data Frame Sebagai File CSV

- code untuk mengkonversi dataframe ke csv
- `df.to_csv('namafile')`

In [33]:
df.to_csv('data_peserta.csv')

- penambahan `index_col= 0` akan mengindikasikan kolom index, bukan kolom biasa

In [34]:
df = pd.read_csv('data_peserta.csv',index_col = 0)
df

    nama jenis_kelamin  usia
0   bayu             L    23
1  indra             L    21
2   devi             P    22
3   agni             L    25

- code untuk membaca file ., tidak menyertakan index

In [35]:
df.to_csv('data_peserta.csv',index=False)
df = pd.read_csv('data_peserta.csv')
df

    nama jenis_kelamin  usia
0   bayu             L    23
1  indra             L    21
2   devi             P    22
3   agni             L    25