# PANDAS47 Deteksi dan penanganan kolom dengan tipe data beragam

## Import Modules & Cek Versi

In [8]:
import pandas as pd

print(pd.__version__)

1.2.3

## Data frame

In [9]:
d = {'nama':['bejo', 'tejo', 'wati', 'tiwi', 'cecep'], 
     'ipk':[2, '3', 3, 2.75, '3.25']}
df = pd.DataFrame(d)
df

    nama   ipk
0   bejo     2
1   tejo     3
2   wati     3
3   tiwi  2.75
4  cecep  3.25

## Deteksi dan penanganan kolom dengan tipe data beragam (mixed data types)

In [10]:
df.dtypes

nama    object
ipk     object
dtype: object

code untuk menampilkan tipe data pada setiap baris pada kolom ipk

In [11]:
df['ipk'].apply(type)

0      <class 'int'>
1      <class 'str'>
2      <class 'int'>
3    <class 'float'>
4      <class 'str'>
Name: ipk, dtype: object

code untuk menghitung jumlah datatype yang berbeda pada kolom ipk

In [12]:
df['ipk'].apply(type).value_counts()

<class 'str'>      2
<class 'int'>      2
<class 'float'>    1
Name: ipk, dtype: int64

konversi seluruh data pada kolom ipk menjadi datatype float, ditampung pada `df['ipk']`

In [13]:
df['ipk'] = df['ipk'].astype(float)

In [14]:
df['ipk'].apply(type).value_counts()

<class 'float'>    5
Name: ipk, dtype: int64