# PANDAS 14 Menggabungkan dua Data Frame

## Cek Versi

In [13]:
import pandas as pd
import numpy as np

print(pd.__version__)
print(np.__version__)

1.2.3
1.19.2

## Persiapan DataFrame

In [14]:
n_rows = 5
n_cols = 5
cols = tuple('ABCDE')

df = pd.DataFrame(np.random.randint(1, 20, size=(n_rows, n_cols)), 
                  columns=cols)
df

    A   B   C   D   E
0   6   1  13   4  18
1   2   6   9  11  18
2   4  19  15  12  15
3   7  11  16   9   6
4  19  16   4   8   9

In [15]:
df1 = df.copy(deep=True) #buat dataframe 1
df1 = df1.drop([1, 4]) #buang baris 1 dan 4
df1

   A   B   C   D   E
0  6   1  13   4  18
2  4  19  15  12  15
3  7  11  16   9   6

In [16]:
df2 = df.copy(deep=True) #buat dataframe 2
df2 = df2.drop([0, 3]) # buang kolom 0 dan 3
df2

    A   B   C   D   E
1   2   6   9  11  18
2   4  19  15  12  15
4  19  16   4   8   9

## Menggabungkan dua Data Frame

In [8]:
df_inner = pd.merge(df1, df2, how='inner') #mengadopsi data yg ada pada 2 dataframe
df_inner #reset index

    A  B  C  D   E
0  11  8  2  8  16

In [9]:
df_outer = pd.merge(df1, df2, how='outer') #bais yg ada duplikasi, hanya diadopsi jadi 1 saja
df_outer #reset index

    A   B   C   D   E
0  19   8   9  15   1
1  11   8   2   8  16
2  11  16  17   6   6
3  16   5  16   2   9
4   5   8  11   2  16