# PANDAS18 Membentuk dummy Data Frame

## Cek Versi & Import Modules

In [5]:
import pandas as pd
import numpy as np

print(pd.__version__)
print(np.__version__)

1.2.3
1.19.2

## Membentuk Data Frame dari Dictionary

In [6]:
pd.DataFrame({'col1': [1, 2, 3, 4], 'col2': [5, 6, 7, 8]}) #keys disini berperan sebagai judul(label)

   col1  col2
0     1     5
1     2     6
2     3     7
3     4     8

## Membentuk Data Frame dari Numpy Array

In [7]:
n_rows = 5
n_cols = 3

arr = np.random.randint(1, 20, size=(n_rows, n_cols))
arr

array([[ 7,  3,  3],
       [14, 15,  7],
       [ 8, 13,  6],
       [ 9, 14,  5],
       [ 2, 15,  6]])

In [8]:
pd.DataFrame(arr, columns=tuple('ABC')) #tuple untuk meberikan label

    A   B  C
0   7   3  3
1  14  15  7
2   8  13  6
3   9  14  5
4   2  15  6

## Membentuk Data Frame dengan memanfaatkan pandas.util.testing

In [9]:
pd.util.testing.makeDataFrame().head()

C:\Users\axelk\anaconda3\lib\site-packages\pandas\util\__init__.py:8: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing

                   A         B         C         D
48fSeeFZ9E -0.813462 -0.122360  0.673874  1.602834
XAv8ycGWiV -1.026247 -0.102303  0.681651  0.641571
x5rRsVQruE -0.683150 -2.273949  1.564432 -1.171687
4z7Smly9DE -0.356443 -0.097045 -0.754119  0.560554
M4PzMZYOqF  0.351578 -1.756982 -1.146704  0.593588

In [10]:
pd.util.testing.makeMixedDataFrame().head() # tipe data campur

     A    B     C          D
0  0.0  0.0  foo1 2009-01-01
1  1.0  1.0  foo2 2009-01-02
2  2.0  0.0  foo3 2009-01-05
3  3.0  1.0  foo4 2009-01-06
4  4.0  0.0  foo5 2009-01-07

In [11]:
pd.util.testing.makeTimeDataFrame().head() # tipe data isi deret waktu

                   A         B         C         D
2000-01-03 -0.066517  0.466932 -2.166551  0.976821
2000-01-04  0.369699 -0.357195 -1.045690 -0.876025
2000-01-05 -0.349284 -1.134804 -1.151044 -0.046725
2000-01-06 -0.088086 -2.260355  1.382548  1.496035
2000-01-07 -0.656303 -0.381201  0.636448  1.711818

In [12]:
pd.util.testing.makeMissingDataframe().head() # ada data yang missing value

                   A         B         C         D
DzHMyHLRgb -0.162433  0.580146 -1.036434  0.030149
35L6gRW61n  0.670319  0.476264 -0.092072  0.725359
SMPoMjz7fQ -0.458800 -1.079062 -0.105739 -0.148085
LLyQsP2xCI  0.892392 -1.574460  2.165308 -0.993346
4QXQmTAiBa  0.905847       NaN -0.103564 -1.198279