# PANDAS55 Menghitung Jumlah Baris Menurut Kriteria Tertentu

## Import Modules & Cek Versi

In [1]:
import pandas as pd
import numpy as np

print(pd.__version__)
print(np.__version__)

1.2.3
1.19.2

## Dataframe

In [2]:
n_rows = 10
n_cols = 5
cols = tuple('ABCDE')

df = pd.DataFrame(np.random.randint(1,10,size=(n_rows,n_cols)),columns=cols)
df

   A  B  C  D  E
0  7  4  1  9  8
1  5  5  9  8  3
2  7  5  9  1  2
3  2  2  8  9  3
4  2  5  8  7  4
5  5  6  6  9  4
6  7  2  5  4  2
7  8  6  9  6  8
8  1  2  3  3  9
9  5  8  4  3  8

## Menghitung Jumlah Baris Menurut Kriteria Tertentu

In [3]:
(df['A']<5).sum()

3

In [4]:
(df['A']<5).mean()

0.3