# PANDAS49 Seleksi kolom dengan `f-string`

## Import Modules & Cek Versi

In [9]:
import pandas as pd

print(pd.__version__)

1.2.3

## Data frame

In [10]:
df = pd.read_csv('./data/Iris.csv')
df.head()

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa

## Seleksi kolom dengan `f-string`

Cara Regular :

In [11]:
df['SepalWidthCm'].to_frame().head()

   SepalWidthCm
0           3.5
1           3.0
2           3.2
3           3.1
4           3.6

Cara Baru : (menggunakan `f-string`)

In [12]:
part = 'Sepal'

df[f'{part}WidthCm'].to_frame().head()

   SepalWidthCm
0           3.5
1           3.0
2           3.2
3           3.1
4           3.6

Cara Baru : (menggunakan `f-string`), menggunakan 2 kolom, tidak perlu lagi `to_frame()` karena sudah frame, bukan series

In [13]:
df[['PetalWidthCm', 'PetalLengthCm']].head()

   PetalWidthCm  PetalLengthCm
0           0.2            1.4
1           0.2            1.4
2           0.2            1.3
3           0.2            1.5
4           0.2            1.4

In [14]:
Cara mengganti sebagian variabel yang sudah di definisikan :

SyntaxError: invalid syntax (<ipython-input-14-f79608552a3e>, line 1)

In [ ]:
part = 'Petal'

df[[f'{part}WidthCm', f'{part}LengthCm']].head()