# PANDAS17 Resampling pada data deret waktu (time series data)

## Cek Versi & Import Modules

In [2]:
import pandas as pd
import numpy as np

print(pd.__version__)
print(np.__version__)

1.2.3
1.19.2

## Persiapan Data Frame

In [3]:
n_rows = 365 * 24
n_cols = 2
cols = ['col1', 'col2']

df = pd.DataFrame(np.random.randint(1, 20, size=(n_rows, n_cols)), 
                  columns=cols)

df.index = pd.util.testing.makeDateIndex(n_rows, freq='H')
df

C:\Users\axelk\anaconda3\lib\site-packages\pandas\util\__init__.py:8: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing

                     col1  col2
2000-01-01 00:00:00    15    19
2000-01-01 01:00:00     7     2
2000-01-01 02:00:00    17     1
2000-01-01 03:00:00    10    11
2000-01-01 04:00:00    15    17
...                   ...   ...
2000-12-30 19:00:00    19    17
2000-12-30 20:00:00     4     2
2000-12-30 21:00:00    14    15
2000-12-30 22:00:00     9     9
2000-12-30 23:00:00     1    15

[8760 rows x 2 columns]