# PANDAS29 Melakukan random sampling pada Data Frame

## Cek Versi & Import Modules

In [11]:
import pandas as pd

print(pd.__version__)

1.2.3

## Data frame

In [12]:
d = {'col_1':[1, 2, 3, 4, 5], 
     'col_2':[10, 20, 30, 40, 50]}
df = pd.DataFrame(d)
df

   col_1  col_2
0      1     10
1      2     20
2      3     30
3      4     40
4      5     50

## Random sampling with/without replacement

command untuk random sampling tanpa replacement : (data tidak akan disampling kembali), fungsi `random_state`= membuat data bisa direplikasi

In [13]:
df.sample(n=4, replace=False, random_state=0)

   col_1  col_2
2      3     30
0      1     10
1      2     20
3      4     40

command untuk random sampling dengan replacement : (data disample ulang)

In [14]:
df.sample(n=4, replace=True, random_state=0)

   col_1  col_2
4      5     50
0      1     10
3      4     40
3      4     40