# PANDAS51 Seleksi baris dengan `between()`

## Import Modules & Cek Versi

In [1]:
import pandas as pd
import numpy as np

print(pd.__version__)
print(np.__version__)

1.2.3
1.19.2

## Data frame

In [2]:
n_rows = 10
n_cols = 5
cols = tuple('ABCDE')

df = pd.DataFrame(np.random.randint(1, 10, size=(n_rows, n_cols)), 
                  columns=cols)
df

   A  B  C  D  E
0  5  9  8  5  4
1  2  3  3  9  2
2  6  6  3  8  3
3  8  2  1  1  9
4  3  8  3  7  8
5  3  5  1  6  1
6  5  5  9  6  8
7  6  3  1  6  1
8  5  7  3  8  3
9  1  3  9  4  8

## Seleksi baris dengan between()

Code untukk menampilkan data yang ada pada kolom A, datanya berada di antara 2-5, bersifat inkluif (batasan dimasukan)

In [3]:
df[df['A'].between(2, 5)]

   A  B  C  D  E
0  5  9  8  5  4
1  2  3  3  9  2
4  3  8  3  7  8
5  3  5  1  6  1
6  5  5  9  6  8
8  5  7  3  8  3

In [ ]:
code agar membuat batasan tidak dimasukan

In [4]:
df[df['A'].between(2, 5, inclusive=False)]

   A  B  C  D  E
4  3  8  3  7  8
5  3  5  1  6  1