# PANDAS 11 Melakukan seleksi kolom dan baris pada Data Frame menggunakan loc

# Cek Versi

In [1]:
import pandas as pd
import numpy as np

print(pd.__version__)
print(np.__version__)

1.2.3
1.19.2

## Persiapan Data Frame

In [2]:
n_rows = 10
n_cols = 5
cols = tuple('ABCDE')

df = pd.DataFrame(np.random.randint(1, 20, size=(n_rows, n_cols)), 
                  columns=cols)
df

    A   B   C   D   E
0   3   5   3  12   1
1  13   6  16   6  15
2   6   8   9  19  15
3   9   5   1   2  12
4   7  15   3  19   8
5  11  16  14   5   2
6  12   5  12  17  16
7  13  12  17   2   2
8   5  17   1   8  15
9  16  13  16  17   2

## Seleksi kolom dan baris menggunakan loc

In [3]:
df.loc[[0,3,4], ['B','E']] #[[mengatur baris],[mengatur kolom]]

    B   E
0   5   1
3   5  12
4  15   8

## Seleksi baris dengan kondisi

In [4]:
df.loc[df['B']>10, ['B','D','E']] #[[mengatur baris]yang lebih besar dari 10,[mengatur kolom]]

    B   D   E
4  15  19   8
5  16   5   2
7  12   2   2
8  17   8  15
9  13  17   2

## Slicing Data Frame dengan loc

In [5]:
df.loc[0:4, 'B':'D'] #[[slicing dari 0 sampai ke 4],[slicing dari B sampai D]]
#START INDEX DAN END INDEX TERMASUK

    B   C   D
0   5   3  12
1   6  16   6
2   8   9  19
3   5   1   2
4  15   3  19